apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project-prod

resources:
  - namespace.yaml
  - ../../base
  - backup.yaml

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: todo-server-dep

namePrefix: prod-

replicas:
  - name: todo-server-dep
    count: 3

images:
  - name: PROJECT/IMAGE
    newName: typescriptlover/the_project
    # Production uses tagged commits, so the tag will be updated via CI/CD
