apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      # securityContext:
      #   runAsUser: 1000
      #   runAsGroup: 1000
      #   fsGroup: 1000
      #   fsGroupChangePolicy: OnRootMismatch
      # volumes:
      # - name: shared-logs
      #   persistentVolumeClaim:
      #     claimName: log-claim

      containers:
        - name: ping-pong
          imagePullPolicy: Never # local image
          image: ping-pong # local
          #image: gcr.io/dwk-gke-484423/ping-pong:latest #gcloud
          # image: PROJECT/IMAGE
          readinessProbe:
            initialDelaySeconds: 10 # Initial delay until the readiness is tested
            periodSeconds: 5 # How often to test
            httpGet:
              path: /readyz
              port: 3000
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_HOST
              value: "postgres-stset-0.postgres-svc"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_DB
          resources:
            requests:
              cpu: 5m
              memory: 16Mi
            limits:
              cpu: 50m
              memory: 32Mi
            # volumeMounts:
            # - name: shared-logs
            #   mountPath: /usr/src/app/shared

# make sure to build and load the image before (see readme)
# apply changes: kubectl apply -f manifests/deployment.yaml
