apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project-staging

resources:
  - namespace.yaml
  - ../../base
patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: todo-server-dep
namePrefix: staging-

images:
  - name: PROJECT/IMAGE
    newName: typescriptlover/the_project
    newTag: f46e1f552622560d26e6b0589f201a5e4ae8ec7b
