apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project-staging

resources:
- namespace.yaml
- ../../base
patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: todo-server-dep
namePrefix: staging-

images:
- name: PROJECT/IMAGE
  newName: typescriptlover/the_project
  newTag: 25bf94484d430d1bc0f42957ef768427f2bfe906
